@import "tailwindcss";

body {
  background-color: black;
  color: white;
  font-family: domine, serif;
}

h1 {
  font-size: 80px;
}

.hero-text h1 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(white, white, #8400ff);
}